body {
  font-family: "Poppins";
}

/***** sidebar section *****/
.all-friends::-webkit-scrollbar {
  width: 5px;
}

.all-friends::-webkit-scrollbar-thumb {
  background: #2e343d;
  border-radius: 50px;
}

/***** messages section *****/
.messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-thumb {
  background: #2e343d;
  border-radius: 50px;
}

/* current user message */
.message.owner {
  flex-direction: row-reverse;
}

.message.owner .message-content {
  align-items: flex-end;
  background-color: #6b8afd;
  border-radius: 16px 16px 0 16px;
}

.message.owner {
  right: 4px;
}

.message.false {
  left: 4px;
}

/***** messages corner *****/
/* message corner fo current user */
.message .msg-corner::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #202329;
  border-radius: 0 50px 50px 50px;
  right: -7px;
  top: 0px;
}

/* message corner for other user */
.message.false .corner-pos {
  left: -8px;
}

.message.false .msg-corner {
  background: #2e343d;
}

.message.false .msg-corner::before {
  left: -7px;
  border-radius: 50px 0 50px 50px;
}

/***** loading *****/

.loader {
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #c3c3c3;
  border-radius: 50%;
  animation: loader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #6b8afd;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
