body {
  font-family: "Poppins";
}

/***** sidebar section *****/
.all-friends::-webkit-scrollbar {
  width: 5px;
}

.all-friends::-webkit-scrollbar-thumb {
  background: #2e343d;
  border-radius: 50px;
}

/***** messages section *****/
.messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-thumb {
  background: #2e343d;
  border-radius: 50px;
}

/* current user message */
.message.owner {
  flex-direction: row-reverse;
}

.message.owner .message-content {
  align-items: flex-end;
  background-color: #6b8afd;
  border-radius: 16px 16px 0 16px;
}

.time.owner {
  right: 4px;
}

.time.false {
  left: 4px;
}
